* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

body {
  background-image: url(../imagen/bartenders-pouring.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  padding: 0;
  margin: 0;
  display: grid;
  min-height: auto;
  min-width: auto; }

.footer {
  display: flex;
  background-color: aliceblue;
  padding: 1rem;
  margin: 1rem;
  border: 0.1rem solid black;
  border-radius: 4px;
  justify-content: space-between; }
  .footer .psinalcohol {
    display: block;
    width: 20rem;
    padding-block: 10px; }
    .footer .psinalcohol p {
      margin-bottom: 1rem; }
  .footer .cajaredes {
    display: block;
    padding-block: 12px;
    width: 20rem;
    float: right;
    text-align: center; }
  .footer .ul {
    display: flex;
    list-style-position: inside;
    padding-top: 1.2rem;
    justify-content: space-evenly; }
  .footer li:hover {
    box-shadow: 0px 1px 11px;
    border-radius: 100%; }

.footer {
  display: flex;
  background-color: aliceblue;
  padding: 1rem;
  margin: 1rem;
  border: 0.1rem solid black;
  border-radius: 4px;
  justify-content: space-between; }
  .footer .psinalcohol {
    display: block;
    width: 20rem;
    padding-block: 10px; }
    .footer .psinalcohol p {
      margin-bottom: 1rem; }
  .footer .cajaredes {
    display: block;
    padding-block: 12px;
    width: 20rem;
    float: right;
    text-align: center; }
  .footer .ul {
    display: flex;
    list-style-position: inside;
    padding-top: 1.2rem;
    justify-content: space-evenly; }
  .footer li:hover {
    box-shadow: 0px 1px 11px;
    border-radius: 100%; }

.clasicos {
  background-color: aliceblue;
  max-height: 100px;
  margin: 1rem;
  padding: 0.5rem;
  border: 0.1rem solid black;
  border-radius: 5px;
  margin-top: 2rem; }

.gridclasico .todo {
  background-color: aliceblue;
  padding: 1rem;
  margin: 1rem;
  border: 0.1rem solid black;
  border-radius: 7px; }

.gridclasico .tarjetacontenedora {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100vw;
  max-width: fit-content;
  margin: auto;
  padding: 50px; }
  .gridclasico .tarjetacontenedora .tarjeta {
    width: 25vw;
    height: auto;
    margin: 20px;
    border-radius: 7px;
    overflow: hidden;
    background-color: azure;
    box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.5); }
    .gridclasico .tarjetacontenedora .tarjeta:hover {
      box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.5); }
    .gridclasico .tarjetacontenedora .tarjeta img {
      width: 100%;
      height: 100%; }
    .gridclasico .tarjetacontenedora .tarjeta .gintonic {
      height: 1200px; }
    .gridclasico .tarjetacontenedora .tarjeta .contenidotarjeta {
      padding: 1px;
      text-align: center; }
    .gridclasico .tarjetacontenedora .tarjeta h2 {
      margin-bottom: 5px;
      color: darkslategrey; }
    .gridclasico .tarjetacontenedora .tarjeta p {
      line-height: 1.9;
      color: darkorange;
      font-size: 20px;
      margin-bottom: 0px; }
    .gridclasico .tarjetacontenedora .tarjeta a {
      display: inline-block;
      padding: 10px;
      margin-top: 10px;
      text-decoration: none;
      color: blueviolet;
      border: 1px solid black;
      border-radius: 5px;
      transition: all 40ms ease;
      margin-bottom: 4px; }
      .gridclasico .tarjetacontenedora .tarjeta a:hover {
        background-color: black;
        color: bisque; }
    .gridclasico .tarjetacontenedora .tarjeta .gintonic {
      height: 16rem; }

.footer {
  display: flex;
  background-color: aliceblue;
  padding: 1rem;
  margin: 1rem;
  border: 0.1rem solid black;
  border-radius: 4px;
  justify-content: space-between; }
  .footer .psinalcohol {
    display: block;
    width: 20rem;
    padding-block: 10px; }
    .footer .psinalcohol p {
      margin-bottom: 1rem; }
  .footer .cajaredes {
    display: block;
    padding-block: 12px;
    width: 20rem;
    float: right;
    text-align: center; }
  .footer .ul {
    display: flex;
    list-style-position: inside;
    padding-top: 1.2rem;
    justify-content: space-evenly; }
  .footer li:hover {
    box-shadow: 0px 1px 11px;
    border-radius: 100%; }

.mainmod {
  background-color: aliceblue;
  max-height: fit-content;
  margin: 1rem;
  padding: 0.5rem;
  border: 0.1rem solid black;
  border-radius: 7px;
  margin-top: 2px; }

.header_moderno {
  background-color: aliceblue;
  max-height: 100px;
  margin: 1rem;
  padding: 1rem;
  border: 0.1rem solid black;
  border-radius: 5px;
  margin-top: 2rem; }
  .header_moderno h1 {
    text-align: center;
    text-decoration: none;
    color: teal;
    font-family: 'League Gothic', sans-serif; }
  .header_moderno .listamod {
    text-decoration: none;
    text-align: center;
    flex-direction: row;
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none; }
    .header_moderno .listamod .ul li {
      color: black; }

.tarjetacontenedora {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100vw;
  max-width: fit-content;
  margin: auto;
  padding: 50px; }
  .tarjetacontenedora .tarjeta_modernos {
    height: 500px;
    width: 90%;
    margin: 2px;
    border-radius: 5px;
    overflow: hidden;
    background-color: azure;
    box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.5); }
    .tarjetacontenedora .tarjeta_modernos:hover {
      box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.5); }
    .tarjetacontenedora .tarjeta_modernos .maracuya {
      width: 100%;
      height: 260px; }
    .tarjetacontenedora .tarjeta_modernos .caipirinha {
      width: 100%;
      height: 100%; }
    .tarjetacontenedora .tarjeta_modernos .gimlet {
      width: 100%;
      height: 260px; }

.contenidotarjeta {
  padding: 5px;
  text-align: center; }

.moderno {
  margin-bottom: 40px; }
  .moderno h1 {
    text-align: center; }

@media screen and (max-width: 320px) {
  .gridtotal {
    width: 100vw; }
  .listamod {
    visibility: hidden; }
  .tarjetacontenedora {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    gap: 30px;
    text-align: center; }
    .tarjetacontenedora .contenidotarjeta {
      position: fixed;
      display: contents; }
  .tarjeta_modernos .martini {
    height: 210px; }
  .tarjeta_modernos .caipirinha {
    height: 210px; }
  .tarjeta_modernos img {
    width: 100%;
    height: 260px; }
  .header_moderno {
    width: 100vw;
    margin: 0; }
  .mainmod {
    width: 100vw;
    margin: 0; } }

@media screen and (max-width: 376px) {
  .gridtotal {
    width: 100vw; }
  .listamod {
    visibility: hidden; }
  .tarjetacontenedora {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    gap: 30px;
    text-align: center; }
    .tarjetacontenedora .contenidotarjeta {
      position: fixed;
      display: contents; }
  .tarjeta_modernos .martini {
    height: 210px; }
  .tarjeta_modernos .caipirinha {
    height: 210px; }
  .tarjeta_modernos img {
    width: 100%;
    height: 260px; }
  .header_moderno {
    width: 100vw;
    margin: 0; }
  .mainmod {
    width: 100vw;
    margin: 0; } }

@media screen and (max-width: 426px) {
  .gridtotal {
    width: 100vw; }
  .listamod {
    visibility: hidden; }
  .tarjetacontenedora {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    gap: 30px;
    text-align: center; }
    .tarjetacontenedora .contenidotarjeta {
      position: fixed;
      display: contents; }
  .tarjeta_modernos .martini {
    height: 210px; }
  .tarjeta_modernos .caipirinha {
    height: 210px; }
  .tarjeta_modernos img {
    width: 100%;
    height: 260px; }
  .header_moderno {
    width: 100vw;
    margin: 0; }
  .mainmod {
    width: 100vw;
    margin: 0; } }

.footer {
  display: flex;
  background-color: aliceblue;
  padding: 1rem;
  margin: 1rem;
  border: 0.1rem solid black;
  border-radius: 4px;
  justify-content: space-between; }
  .footer .psinalcohol {
    display: block;
    width: 20rem;
    padding-block: 10px; }
    .footer .psinalcohol p {
      margin-bottom: 1rem; }
  .footer .cajaredes {
    display: block;
    padding-block: 12px;
    width: 20rem;
    float: right;
    text-align: center; }
  .footer .ul {
    display: flex;
    list-style-position: inside;
    padding-top: 1.2rem;
    justify-content: space-evenly; }
  .footer li:hover {
    box-shadow: 0px 1px 11px;
    border-radius: 100%; }

.contacto_main {
  background-color: aliceblue;
  max-height: fit-content;
  margin: 1rem;
  padding: 0.5rem;
  border: 0.1rem solid black;
  border-radius: 7px;
  margin-top: 2px;
  margin-bottom: 2px; }

.header_contacto {
  background-color: aliceblue;
  max-height: 100px;
  margin: 1rem;
  padding: 0.5rem;
  border: 0.1rem solid black;
  border-radius: 7px;
  margin-top: 2rem; }
  .header_contacto h1 {
    text-align: center;
    text-decoration: none;
    color: teal;
    font-family: 'League Gothic', sans-serif; }
  .header_contacto .lista_contacto {
    text-align: center;
    flex-direction: row;
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    text-decoration: none; }
    .header_contacto .lista_contacto .ul li {
      color: black; }

@media screen and (max-width: 376px) {
  .header_contacto {
    width: 100vw;
    height: 300px;
    margin: 0;
    margin-bottom: 2px; }
    .header_contacto .lista_contacto {
      display: flex;
      flex-direction: column; }
  .contacto_main {
    width: 100vw;
    margin: 0;
    margin-bottom: 2px; }
  .footer {
    width: 100vw;
    margin: 0; } }

@media screen and (max-width: 426px) {
  .header_contacto {
    width: 100vw;
    height: 300px;
    margin: 0;
    margin-bottom: 2px; }
    .header_contacto .lista_contacto {
      display: flex;
      flex-direction: column; }
  .contacto_main {
    width: 100vw;
    margin: 0;
    margin-bottom: 2px; }
  .footer {
    width: 100vw;
    margin: 0; } }

.header_index {
  background-color: aliceblue;
  max-height: 100px;
  margin: 1rem;
  padding: 1rem;
  border: 0.1rem solid black;
  border-radius: 5px;
  margin-top: 2rem; }
  .header_index h1 {
    text-align: center;
    color: teal;
    font-family: 'League Gothic', sans-serif; }
  .header_index .lista {
    text-decoration: none;
    text-align: center;
    flex-direction: row;
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    color: black; }

.main_index {
  background-color: aliceblue;
  padding: 1rem;
  margin: 1rem;
  border: 0.1rem solid black;
  border-radius: 4px; }
  .main_index h2 {
    text-align: center;
    font-size: xx-large;
    margin: 30px; }
  .main_index .parrafos {
    margin: 14px; }
  .main_index .imgcenter {
    text-align: center;
    margin: 10px; }

@media screen and (max-width: 320px) {
  .header_index {
    width: 100vw;
    margin: 0; }
    .header_index .lista {
      visibility: hidden; }
  .main_index {
    max-width: 100vw;
    margin: 0; }
    .main_index img {
      width: 75vw;
      justify-items: center; } }

@media screen and (max-width: 426px) {
  .header_index {
    width: 100vw;
    margin: 0; }
    .header_index .lista {
      visibility: hidden; }
  .main_index {
    max-width: 100vw;
    margin: 0; }
    .main_index img {
      width: 75vw;
      justify-items: center; } }
