.footer {
    display: flex;
    background-color: aliceblue;
    padding: 1rem;
    margin: 1rem;
    border: 0.1rem solid black;
    border-radius: 4px;
    justify-content: space-between;

    .psinalcohol {
        display: block;
        width: 20rem;
        padding-block: 10px;

        p {
            margin-bottom: 1rem;
        }
    }

    .cajaredes {
        display: block;
        padding-block: 12px;
        width: 20rem;
        float: right;
        text-align: center;
    }

    .ul {
        display: flex;
        list-style-position: inside;
        padding-top: 1.2rem;
        justify-content: space-evenly;
    }

    li:hover {
        box-shadow: 0px 1px 11px;
        border-radius: 100%;

    }
}

@media (max-width: 320px) {
    .footer_index {
        width: 42%;
        justify-content: space-around;
    }
}