@import'footer';

.mainmod {

    background-color: aliceblue;
    max-height: fit-content;
    margin: 1rem;
    padding: 0.5rem;
    border: 0.1rem solid black;
    border-radius: 7px;
    margin-top: 2px;
}

.header_moderno {
    background-color: aliceblue;
    max-height: 100px;
    margin: 1rem;
    padding: 1rem;
    border: 0.1rem solid black;
    border-radius: 5px;
    margin-top: 2rem;

    h1 {
        text-align: center;
        text-decoration: none;
        color: teal;
        font-family: 'League Gothic', sans-serif;
    }

    .listamod {
        text-decoration: none;
        text-align: center;
        flex-direction: row;
        display: flex;
        justify-content: center;
        gap: 20px;
        list-style: none;

        .ul li {
            color: black;
        }

    }
}

.tarjetacontenedora {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: fit-content;
    margin: auto;
    padding: 50px;

    .tarjeta_modernos {
        height: 500px;
        width: 90%;
        margin: 2px;
        border-radius: 5px;
        overflow: hidden;
        background-color: azure;
        box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.5);

        &:hover {
            box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.5);
        }

            .maracuya {
                width: 100%;
                height: 260px;
            }

            .caipirinha {
                width: 100%;
                height: 100%;
            }

            .gimlet {
                width: 100%;
                height: 260px;
            }
        }
    }

    .contenidotarjeta {
        padding: 5px;
        text-align: center;
    }



.moderno {
    margin-bottom: 40px;

    h1 {
        text-align: center;
    }
}

@media screen and (max-width: 320px) {

    .gridtotal{
        width: 100vw;
    }

    .listamod {
        visibility: hidden;
    }

    .tarjetacontenedora {
        display: grid;
        grid-template-columns: 1fr;
        border-radius: 5px;
        margin: 5px;
        padding: 10px;
        gap: 30px;
        text-align: center;

        .contenidotarjeta {
            position: fixed;
            display: contents;
        }
    }

    .tarjeta_modernos {
        .martini {
            height: 210px;
        }

        .caipirinha {
            height: 210px;
        }

        img {
            width: 100%;
            height: 260px;
        }
    }

    .header_moderno {
        width: 100vw;
        margin: 0;
    }

    .mainmod {
        width: 100vw;
        margin: 0;
    }
}

@media screen and (max-width: 376px){
    
    .gridtotal{
        width: 100vw;
    }

    .listamod {
        visibility: hidden;
    }

    .tarjetacontenedora {
        display: grid;
        grid-template-columns: 1fr;
        border-radius: 5px;
        margin: 5px;
        padding: 10px;
        gap: 30px;
        text-align: center;

        .contenidotarjeta {
            position: fixed;
            display: contents;
        }
    }

    .tarjeta_modernos {
        .martini {
            height: 210px;
        }

        .caipirinha {
            height: 210px;
        }

        img {
            width: 100%;
            height: 260px;
        }
    }

    .header_moderno {
        width: 100vw;
        margin: 0;
    }

    .mainmod {
        width: 100vw;
        margin: 0;
    }

    

    
}

@media screen and (max-width: 426px) {

    .gridtotal{
        width: 100vw;
    }

    .listamod {
        visibility: hidden;
    }

    .tarjetacontenedora {
        display: grid;
        grid-template-columns: 1fr;
        border-radius: 5px;
        margin: 5px;
        padding: 10px;
        gap: 30px;
        text-align: center;

        .contenidotarjeta {
            position: fixed;
            display: contents;
        }
    }

    .tarjeta_modernos {
        .martini {
            height: 210px;
        }

        .caipirinha {
            height: 210px;
        }

        img {
            width: 100%;
            height: 260px;
        }
    }

    .header_moderno {
        width: 100vw;
        margin: 0;
    }

    .mainmod {
        width: 100vw;
        margin: 0;
    }
    
}